{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<style type="text/css">
  @media (min-width: 768px){
    /*.col-sm-4 {
      width: 32%;
    }*/
  }
  .col-md-12 nav > h2{
    font-size: 23px !important;
    padding-bottom: 2px !important;
    margin: 0;
    border-bottom: 1px solid #eee !important;
    font-weight: 300;
    text-align: left !important;
    letter-spacing: 0.09em !important;
  }
  h2#title {
    margin-top: 0;
  }
  nav#block-useraccountmenu {
    margin-bottom: 15px;
}
  img{
    border-radius: 0;
  }
  .main-content__section, .sidebar__section {
    padding: 20px 0 20px;
}
</style>



  <section class="col-md-8 col-lg-7">
    <article{{ attributes.addClass(classes) }}>
      <img loading="lazy" src="{{node.field_work_cover|file_url}}" width="1000" height="667" alt="" typeof="foaf:Image" class="img-responsive">
</article>
  </section>

{#start#}

<aside class="col-md-4 col-lg-offset-1">
  <section class="sidebar-second">
    <div class="region region-sidebar-second">
<nav role="navigation" aria-labelledby="block-useraccountmenu-menu" id="block-useraccountmenu" class="contextual-region clearfix block block-menu navigation menu--account">
      
  <h2 id="title">{{node.title.value}}</h2>
    <ul class="clearfix menu">
      {% if display_submitted %}
        <li class="menu-item">
        <a>Published On:{{ date }}</a>
        </li>
        {{ metadata }}
      {% endif %}
    </ul>
 
  </nav>

  <nav role="navigation" aria-labelledby="block-useraccountmenu-menu" id="block-useraccountmenu" class="contextual-region clearfix block block-menu navigation menu--account">
      
  <h2 id="title">Person(s) in this picture</h2>
    <ul class="clearfix menu">
      {% for model in node.field_photo_persons %}
        {#% set comma = '' %#}
        {#% if loop.index > 1 %#}
          {#% set comma = ',' %#}
        {#% endif %#}
        {#{ comma }#}
        <li class="menu-item">
        <a href="model/{{node.nid.value}}">{{model.entity.title.value }}</a>
        </li>
        {% endfor %}
    </ul>
 
  </nav>

<nav role="navigation" aria-labelledby="block-tools-menu" id="block-tools" class="contextual-region clearfix block block-menu navigation menu--tools">
      
  <h2 id="block-tools-menu">Contributors</h2>
    <ul class="clearfix menu">
      {% for credit in node.field_photo_credits %}
        <li class="menu-item">
          <a href="{{url}}/{{node.nid.value}}" data-drupal-link-system-path="node/add">{{credit.entity.field_people_category.entity.name.value}} - {{credit.entity.title.value }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </nav>

  </div>
 </section>
                          </aside>

{#end#}




<div class="col-md-6">
              <div class="tabs">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#popular" data-toggle="tab" aria-expanded="true"><i class="fa fa-star"></i> Popular</a>
                  </li>
                  <li class="">
                    <a href="#recent" data-toggle="tab" aria-expanded="false">Recent</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="popular" class="tab-pane active">
                    <p>Popular</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                  </div>
                  <div id="recent" class="tab-pane">
                    <p>Recent</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
                  </div>
                </div>
              </div>
            </div>






