<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Rwanda Fashion Models Union</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="assets/model.jpg">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->          
<!--   <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
 <!--  <link href="assets/pages/css/animate.css" rel="stylesheet">
  <link href="assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="assets/plugins/owl.carousel/assets/owl.carousel.css" rel="stylesheet"> -->
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
<!--   <link href="assets/pages/css/components.css" rel="stylesheet">
  <link href="assets/pages/css/slider.css" rel="stylesheet">
  <link href="assets/corporate/css/style.css" rel="stylesheet">
  <link href="assets/pages/css/portfolio.css" rel="stylesheet">
  <link href="assets/corporate/css/style-responsive.css" rel="stylesheet">
  <link href="assets/corporate/css/themes/green.css" rel="stylesheet" id="style-color">
  <link href="assets/corporate/css/custom.css" rel="stylesheet"> -->
  <!-- Theme styles END -->
      <script src="{{base_path}}{{ active_theme_path() }}/assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="{{base_path}}{{ active_theme_path() }}/assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="{{base_path}}{{ active_theme_path() }}/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="{{base_path}}{{ active_theme_path() }}/assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="{{base_path}}{{ active_theme_path() }}/assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="{{base_path}}{{ active_theme_path() }}/assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->

    <script src="{{base_path}}{{ active_theme_path() }}/assets/corporate/scripts/layout.js" type="text/javascript"></script>
    <script src="{{base_path}}{{ active_theme_path() }}/assets/pages/scripts/bs-carousel.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL JAVASCRIPTS -->
  <style type="text/css">
    .featured-list{
      text-align: center;
    }
    .featured-list>p{
      margin-bottom:1px !important;
    }
    .container {
    width: 90% !important;
    max-width: 90% !important;
    }
    #search-block-form{
      position: relative;
      top: 9px;
      margin-left: 20px;
    }
  </style>
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="corporate">


    <!-- BEGIN TOP BAR -->
    <!-- <div class="pre-header">
        <div class="container">
            <div class="row"> -->
                <!-- BEGIN TOP BAR LEFT PART -->
               <!--  <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>+250780256609
</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>rwandafashionmodelsunion@gmail.com</span></li>
                    </ul>
                </div> -->
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
              <!--   <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="{{base_path}}user/login">Log In</a></li>
                        <li><a href="{{base_path}}register-agency">Create Agency Account</a></li>
                        <li><a href="{{base_path}}model/register">Create Model Account</a></li>
                    </ul>
                </div> -->
                <!-- END TOP BAR MENU -->
    <!--         </div>
        </div>        
    </div> -->
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
       <a class="site-logo" href="{{base_path}}"><img src="{{base_path}}{{ active_theme_path() }}/assets/model.jpg" alt="Rwanda Fashion Model Union" style="max-width: 32%;font-size: medium !important;">
          <!-- <b style="
    font-weight: 100;
    color: #cca40c;
">Rwanda Fashion Models Union</b> -->
        </a>
         {% if logged_in %}
       <!--                     <li class="user-detail-wrap dropdown">
        <a href="javascript:void(0);" class="" data-toggle="dropdown" style="
    display: -webkit-box;
">
            {% if agency_logo is not empty %}
              <img class="user-img" style="width:35px;height:35px;border-radius: 17px;" src="{{ agency_logo | file_url }}" data-no-retina="" title="{{user_name}}"><span class="caret"></span>
            {% else %}
              <img style="width:40px;height:35px;" src="{{ base_path }}{{ active_theme_path() }}/images/default-user.png" alt="Default Image" title="{{loggedin_user_name}}"><span class="caret"></span>
            {% endif %}
            
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ base_path }}rfmu-user/{{user.id}}">My Account</a></li>
            <li><a href="{{ base_path }}user/{{user.id}}/edit">Edit My Profile</a></li>
            <li><a href="{{ base_path }}user/logout">Logout</a></li>
        </ul>
 </li> -->
  {% endif %} 

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
          <ul>
            <li class="dropdown">
              <a class="dropdown-toggle" href="{{base_path}}">
                Home 
                
              </a>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" href="{{base_path}}our-agencies">
                Agencies 
                
              </a>
                
              <ul class="dropdown-menu">          
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                People
                
              </a>
                
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="{{base_path}}people/all-models">Models </a>
                </li>
                <li><a href="{{base_path}}people">Photographers</a></li>
                <li><a href="{{base_path}}people">Fashion Editors/Stylist</a></li>
                <li><a href="{{base_path}}people">Makeup</a></li>
                <li><a href="{{base_path}}people">Hair Stylists</a></li>
                <li><a href="{{base_path}}people">Designers</a></li>
              </ul>
            </li>
            <!-- <li class="dropdown">
              <a class="dropdown-toggle" href="javascript:;">
                Vlog 
              </a>
            </li> -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Blog
              </a>
                
              <ul class="dropdown-menu">
                <li><a href="{{base_path}}blog-landing-page">Latest News</a></li>
                <li><a href="{{base_path}}blog-landing-page">Upcoming Events</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="{{base_path}}about-us">
                About RFMU 
              </a>
            </li>

             <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" href="{{base_path}}form/contact">
                Contact Us
                
              </a>
            </li>  

  {% if logged_in %}
                <li class="dropdown">
              <a class="dropdown-toggle" href="{{base_path}}user">
                <i class="fa fa-user"></i>My Account 
              </a>
            </li>

             <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" href="{{base_path}}user/logout">
                <i class="fa fa-key"></i>Logout
                
              </a>
            </li>             
  {% else %}
    <li class="dropdown dropdown-megamenu">
                              <a type="button" data-toggle="modal" data-target="#myModal"  class="order dropdown-toggle btn btn-primary" style="float: left;">Join</a>
                           </li>
  {% endif %} 

            <!-- BEGIN TOP SEARCH -->
            <!-- <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li> -->
        <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                {{ drupal_block('search_form_block') }}
              </div> 
            </li>
        <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->

     <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <a href="{{base_path}}user/login"><p class="text-center login-link">I already have an account. Login</p></a>
         <a href="{{base_path}}register-agency"> <p class="text-center register-link">Create Agency Account</p></a>

         <a href="{{base_path}}register-model"><p class="text-center register-link">I'm a Model. Create Model Account</p></a>

         <a href="{{base_path}}register-people"><p class="text-center register-link">I'm not a Model, but I want to be a member of RFMU Community( For Photographers, Directors, Designers, and people of other profesions ). Create Member Account</p></a>

        </div>
      </div>
      
    </div>
  </div>
    