<style type="text/css">
/*  .views-field.views-field-title {
    text-align: center;
}*/
.views-field-title>.field-content>a {
    color: #4a4a4ac7 !important;
}
.content-top__section {
    padding: 38px 0 150px;
}
.owl-item>div{
  text-align: center;
}
</style>
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}<a href="" style="float:right;font-size:13px;">See more >></a></h2>

  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
  
</section>