<div id="project" class="project">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Featured Models<a href="{{base_path}}people" style="float:right;font-size:13px;">See more >></a></h2>
                  </div>
               </div>
            </div>
            <div class="row">
            <div class="product_main">
                {% for model in featured_models %}
             
                  <div class="project_box ">
                    <a href="{{base_path}}rfmu-user/{{model.model_id}}">
                     <div class="" ><img  src="{{ model.model_profile|file_url }}" alt="#"/>
                     </div>
                 </a>
                     <!-- <h3></h3> -->
                     <small class="text-black">{{ model.model_name }}</small>
        <img src="{{base_path}}{{ active_theme_path()}}/images/verify-icon.png" style="
    position: relative;
    width: 9px;
    display: inline-flex;
">
                  </div>
                  {% endfor %}
              
              <!--  <div class="col-md-12">
                  <a class="read_more" href="#">See More</a>
               </div> -->
            </div>
            </div>
         </div>
      </div>






