 <div class="news">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Letest News<a href="{{base_path}}models" style="float:right;font-size:13px;">See more >></a></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 margin_top40">
               {% for article in article_data %}
                  <div class="row d_flex">
                     <div class="col-md-5">
                        <div class="news_img">
                           <figure><img src="{{article.article_img |file_url}}"></figure>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="news_text">
                           <h3><a href="{{base_path}}article/{{article.article_id}}">{{article.article_title}}</a></h3>
                           <span>{{article.article_date}}</span> 
                           <div class="date_like">
                              <span>Published By: {{article.author_name}} </span><!-- <span class="pad_le">Comment</span> -->
                           </div>
                           <p>
         {% set text = article.article_body|render|striptags %}
         {{ text|length > 100 ? text|slice(0, 100)|raw ~ '...' : text|raw }}
                           </p>
                        </div>
                     </div>
                  </div>
               {% endfor %}
               </div>
            </div>
         </div>
      </div>