<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rwanda Fashion Model Union</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="page">
    <nav id="colorlib-main-nav" role="navigation">
      <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
      <div class="js-fullheight colorlib-table">
        <div class="img" style="background-image: url({{ active_theme_path() }}/images/bg_2.jpg);"></div>
        <div class="colorlib-table-cell js-fullheight">
          <div class="row no-gutters">
            <div class="col-md-12 text-center">
              <h1 class="mb-4"><a href="{{base_path}}" class="logo">Rwanda<br><span>Fashion Model Union</span></a></h1>

              <ul>
                <li class="active"><a href="{{base_path}}"><span><small>01</small>Home</span></a></li>
                <li><a href="{{base_path}}about-us"><span><small>02</small>About</span></a></li>
                <li><a href="{{base_path}}all-models"><span><small>03</small>Models</span></a></li>
                <li><a href="{{base_path}}blog"><span><small>04</small>Blog</span></a></li>
                <li><a href="{{base_path}}contact-us"><span><small>05</small>Contact</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <div id="colorlib-page">
      <header>
        <div class="colorlib-navbar-brand">
          <!-- <a class="colorlib-logo" href="index.html">Look<br><span>Model Agency</span></a> -->
          <a href="{{base_path}}" class="logo"><img src="{{ active_theme_path() }}/images/rfmu-white.jpeg" class="logo-img"></a>
        </div>
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
      </header>