<section class="section-margin section-margin--small">
    <div class="container">

      <div class="all-models-container row pb-40">
        {% for agency in agency %} 
        <div class="col-md-3 col-xl-4 pb-40">
          <a href="rfmu-user/{{agency.uid}}">
          <div class="card card-explore" style="box-shadow: 0 0 7px 0 #eee;">
            <div class="card-explore__img" style="text-align:center;">
              {% if agency.logo is not empty %}
              <img class="card-img" src="{{agency.logo| file_url}}" alt="Agency Logo" style="margin: auto;">
            {% else %}
              <img class="card-img" src="{{ base_path }}{{ active_theme_path() }}/images/default-user.png" alt="Agency Logo" style="margin: auto;">
            {% endif %}
              
            </div>
            <div class="card-body" style="text-align:center;">
              <b class="card-explore__link">{{agency.name}}</b>
              <p><small>{{agency.country}}, {{agency.state}}</small></p>
            </div>
          </div>
        </a>


      </div>
      {% endfor %}

    </div>
  </section>